
  /*  COLORS  */

  $primary        : #A6A4AF;
  $primary-dark   : #717382;
  $accent         : #F4F48D;


  $light-blue : #E5EAEE;

  $danger   : #fff;
  $success  : #fff;
  $white    : #fff;

  $divider    : #fff;
  $dark-grey  : #ddd;
  $light-grey : #d3d3d3;