#map path {
  stroke: #3D3D3D;
  stroke-width: .5;
}

#district-1 {
  fill: Pink;
}

#district-2 {
  fill: PowderBlue;
}

#district-3 {
  fill: Crimson;
}

#district-4 {
  fill: Salmon;
}

#district-5 {
  fill: Orange;
}

#district-6 {
  fill: Gold;
}

#district-7 {
  fill: SaddleBrown;
}

#district-8 {
  fill: Purple;
}

#district-9 {
  fill: DarkOliveGreen;
}

#district-10 {
  fill: GreenYellow;
}

#district-11 {
  fill: Teal;
}

#district-12 {
  fill: DeepSkyBlue;
}